### Linux ###
*~

### Node ###
# Logs
logs
*.log
npm-debug.log*

.aws-sam

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

packaged.yaml
out.yaml

# IntelliJ
.idea

events/

# Optional npm cache directory
.npm
.npmignore

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env


### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

policy.json

